body {
    font-family: arial, sans-serif;
}

table.border, table.border th, table.border td {
    border: 1px solid black;
    border-collapse: collapse;
}

th.course {width: 33.3333% }

td {
    vertical-align:top;
    padding:10px;
}

table.fullwidth {width: 100%;}

ul.sideways li {
    display:inline-block;
    padding-right:8px;
}

.left {
    float:left;
    margin-right: 10px;
}

.right {
    float:right;
    margin-left: 10px;
}

.largetext{
    font-size: 100px;
}

#popup {
    position: fixed;
    display: none;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;
    border: 3px solid black;
    z-index: 2;
  }

