<!DOCTYPE html>
<html>
    <head>
        <title>Inf'25 Dashboard</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    </head>

    <body>
    
    {% if "verified_email" in session %}
    <p>
        You are signed in as {{session["verified_email"]}}. 
        <form action="/logout" method="POST">
            <input type="submit" value="Log out" />
        </form>
    </p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        
    <img class="left" src="{{url_for('static', filename='supreme_wadler.png')}}" alt="Logo - Super Wadler">
    <img class="right" src="{{url_for('static', filename='AT.png')}}" alt="Our Home - Appleton Tower">
    <h1>Inf'25 Dashboard</h1>

    {% block content %}
    {% endblock %}

    <p><em>
        If you find any issues with the links, or have found a useful resource to include, you can <a href="{{url_for('contribute')}}">contribute by adding and modifying links</a>.<br>
        You can also <a href="https://github.com/oxrush/Inf25/" target="_blank">contribute to the code on GitHub</a>. For more info, feel free to ping @Circles in the Informatics '25 Discord.<br>
    </em></p>
    <p><em>
        Each user is responsible for the content they submit, but if you see anything inappropriate, please contact me as above for it to be removed and the appropriate action taken.
    <em></p>
    <p><em>
        Privacy policy: No cookies will be set unless you click the "Save preferences" button on the customise page, or use the "Verify your identity" feature. The following data are collected: Your IP address and basic browser/device information is collected in the server logs, as is standard; Any email address you enter and any login attempts may be recorded; Any data you contribute will be saved in the database, along with your verified email address, even if overwritten or deleted &ndash; if you need this wiped from the record, please contact me as above. If you submit inappropriate content, I reserve the right to disclose your email address to relevant parties.
    </p></em>
        
    </body>
</html>