{% extends "frame.html" %}

{% block heading %}
Privacy policy
{% endblock %}

{% block content %}

<p>
    No cookies will be set unless you click the "Save preferences" button on the customise page,
    or use the "Verify your identity" feature. The following data are collected: Your IP address
    and basic browser/device information is collected in the server logs, as is standard;
    Any email address you enter and any login attempts may be recorded;
    Any data you contribute will be saved in the database, along with your verified email address,
    even if overwritten or deleted &ndash; if you need this wiped from the record, please contact me as above.
    If you submit inappropriate content, I reserve the right to disclose your email address to relevant parties.
</p>
<a href="{{url}}">{{url}}</a>

{% endblock %}